[submodule "thesis"]
	path = thesis
	url = git@jugit.fz-juelich.de:f.matuschke/thesis.git
[submodule "0_core"]
	path = 0_core
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_core.git
[submodule "1_tests"]
	path = 1_tests
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_tests.git
[submodule "2_cube_factory"]
	path = 2_cube_factory
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_cube_factory.git
[submodule "3_y_shape"]
	path = 3_y_shape
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_y_shape.git
[submodule "4_profiling"]
	path = 4_profiling
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_profiling.git
[submodule "5_singleton"]
	path = 5_singleton
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_singleton.git
[submodule "fastpli"]
	path = fastpli
	url = git@jugit.fz-juelich.de:f.matuschke/fastpli.git
[submodule "fastpli_paper"]
	path = fastpli_paper
	url = git@jugit.fz-juelich.de:f.matuschke/paper_fastpli.git
[submodule "fastpli_wiki"]
	path = fastpli_wiki
	url = git@jugit.fz-juelich.de:f.matuschke/fastpli.wiki.git
