[submodule "thesis"]
	path = thesis
	url = git@jugit.fz-juelich.de:f.matuschke/thesis.git
[submodule "0_core"]
	path = 0_core
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_core.git
[submodule "1_tests"]
	path = 1_tests
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_tests.git
[submodule "2_cube_factory"]
	path = 2_cube_factory
	url = git@jugit.fz-juelich.de:f.matuschke/thesis_cube_factory.git
